*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.hero{
    display:flex;
    justify-content: space-between;
    
    gap:42px;
    padding-left: 79px;
    padding-right: 0px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 689px;
    
    overflow: hidden;
}
.hero .hero_leftpart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /*flex-shrink: 0; /* Prevents the grid from squishing this section 
    min-width: max-content;  Keeps 'People's Lives' on one line */

}
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 46px;

}
.hero .hero_leftpart h1{
    font-weight: 500;
    font-size: 84px;
    /*font-size: clamp(50px, 7vw, 100px);*/
    /*font-size: 84px;*/
    letter-spacing: 0px;
    
    margin-bottom: 16px;
}
.hero .hero_leftpart .hero_leftpart_description{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
}
.hero .hero_leftpart .hero_leftpart_button{
    padding: 18px 41px 18px 48px ;
    max-width:fit-content;
    display:flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    
    outline: none;
    border:none;
    
    background-color: #000000;
    color:#F7D500;
    border-radius: 16px;
}
.hero .hero_leftpart .hero_leftpart_button img{
    margin-left: 22.28px;
}
.hero .hero_rightpart{
    display: grid;
    grid-template-columns: repeat(4, 143.94px);
    column-gap: 27.42px;
    padding-right: 0px;
    flex:1;
    justify-content: end;
    
    
    position:relative;
    
    
    
}
.hero .hero_rightpart img{
    /*border-radius: 71.97px;*/
    border-radius: 999px;
    
    position: absolute;
    
}
.hero .hero_rightpart  .img1 img{
    height:524.34px;
    width:143.94px;
    top:0px;
    border-radius: 0 0 100px 100px;
    
    
    height:418.34px;
}
.hero .hero_rightpart  .img2 img{
    height:491.22px;
    width:143.94px;
    top:95.08px;
}
.hero .hero_rightpart  .img3 img{
    height:245.76px;
    width:143.94px;
    top:0px;
    border-radius: 0px 0px 100px 100px;
}
.hero .hero_rightpart  .img4 img{
    height:491.22px;
    width:143.94px;
   
    top:49.36px;
    right:0px;
    border-radius: 100px 0 0 100px;
    /*width: 365.8px;
    height: 507.26px;
    
    /*right:-27.42px;*/
    
}
.hero .hero_rightpart  .img5 img{
    height:302.73px;
    width:143.94px;
    bottom:-58.32px;
    /*top:0px;*/
    
}
.hero .hero_rightpart  .img6 img{
    height:504.92px;
    width:143.94px;
    top:273.18px;
    /*top: 0px;*/
    right:170.35px;
    
    
    
}
@media(max-width:1250px){
    .hero{
    display:flex;
    justify-content: space-between;
    gap:19px;
    padding-left: 79px;
    padding-right: 15.55px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 689px;
    /*overflow-x: hidden;*/
}
.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    display: none;
    margin-bottom: 40px;
}
.hero .hero_leftpart h1{
    font-weight: 500;
    font-size: 100px;
    /*font-size: clamp(50px, 7vw, 100px);*/
    /*font-size: 84px;*/
    
    margin-bottom: 16px;
}
    .hero .hero_rightpart{
    display: grid;
    grid-template-columns: repeat(3, 143.94px);
    column-gap: 27.42px;
    padding-right: 0px;
    flex:1;
    justify-content: end;
    
    position:relative;
    
    
    
}
.hero .hero_rightpart  .img4 img{
    display:none;
    height:491.22px;
    width:143.94px;
   
    top:49.36px;
    right:0px;
    border-radius: 100px 0 0 100px;
    /*width: 365.8px;
    height: 507.26px;
    
    /*right:-27.42px;*/
    
}
.hero .hero_rightpart  .img1 img{
    height:385.34px;
    width:143.94px;
    top:0px;
    border-radius: 0 0 100px 100px;
    
    
    height:418.34px;
}
.hero .hero_rightpart  .img2 img{
    height:491.22px;
    width:143.94px;
    top:95.08px;
}
.hero .hero_rightpart  .img3 img{
    height:212.76px;
    width:143.94px;
    top:0px;
    border-radius: 0px 0px 100px 100px;
}

.hero .hero_rightpart  .img5 img{
    height:302.73px;
    width:143.94px;
    top:445.68px;
    right:342px;
    /*top:0px;*/
    
}
.hero .hero_rightpart  .img6 img{
    height:504.92px;
    width:143.94px;
    top:273.18px;
    /*top: 0px;*/
    right:0.35px;
    
    
    
}


}
@media(max-width:1024px){
    .hero{
    display:flex;
    justify-content: space-between;
    gap:19px;
    padding-left: 79px;
    padding-right: 15.55px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 689px;
    /*overflow-x: hidden;*/
}
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 45px;

}
.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    display: none;
    margin-bottom: 40px;
}
    .hero .hero_rightpart{
    display: grid;
    grid-template-columns: repeat(3, 143.94px);
    column-gap: 27.42px;
    padding-right: 0px;
    flex:1;
    justify-content: end;
    
    position:relative;
    
    
    
}
.hero .hero_rightpart  .img4 img{
    display:none;
    height:491.22px;
    width:143.94px;
   
    top:49.36px;
    right:0px;
    border-radius: 100px 0 0 100px;
    /*width: 365.8px;
    height: 507.26px;
    
    /*right:-27.42px;*/
    
}
.hero .hero_rightpart  .img1 img{
    height:385.34px;
    width:143.94px;
    top:0px;
    border-radius: 0 0 100px 100px;
    
    
    height:418.34px;
}
.hero .hero_rightpart  .img2 img{
    height:491.22px;
    width:143.94px;
    top:95.08px;
}
.hero .hero_rightpart  .img3 img{
    height:212.76px;
    width:143.94px;
    top:0px;
    border-radius: 0px 0px 100px 100px;
}

.hero .hero_rightpart  .img5 img{
    height:302.73px;
    width:143.94px;
    top:445.68px;
    right:342px;
    /*top:0px;*/
    
}
.hero .hero_rightpart  .img6 img{
    height:504.92px;
    width:143.94px;
    top:273.18px;
    /*top: 0px;*/
    right:0.35px;
    
    
    
}


}
@media(max-width:920px){
    .hero{
    display:flex;
    justify-content: space-between;
    gap:19px;
    padding-left: 79px;
    padding-right: 15.55px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 689px;
    /*overflow-x: hidden;*/
}
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 37px;

}
.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    display: none;
    margin-bottom: 40px;
}
    .hero .hero_rightpart{
    display: grid;
    grid-template-columns: repeat(2, 143.94px);
    column-gap: 27.42px;
    padding-right: 0px;
    flex:1;
    justify-content: end;
    
    position:relative;
    
    
    
}
.hero .hero_rightpart  .img3 img{
    height:212.76px;
    width:143.94px;
    top:0px;
    border-radius: 0px 0px 100px 100px;
    display:none;
}
.hero .hero_rightpart  .img4 img{
    display:none;
    height:491.22px;
    width:143.94px;
   
    top:49.36px;
    right:0px;
    border-radius: 100px 0 0 100px;
    /*width: 365.8px;*/
    height: 507.26px;
    
    /*right:-27.42px;*/
    
}
.hero .hero_rightpart  .img6 img{
    height:504.92px;
    width:143.94px;
    top:273.18px;
    /*top: 0px;*/
    right:0.35px;
    display: none;
    
    
    
}
.hero .hero_rightpart  .img1 img{
    height:385.34px;
    width:143.94px;
    top:0px;
    border-radius: 0 0 100px 100px;
    
    
    height:418.34px;
}
.hero .hero_rightpart  .img2 img{
    height:491.22px;
    width:143.94px;
    top:95.08px;
}


.hero .hero_rightpart  .img5 img{
    height:302.73px;
    width:143.94px;
    top:445.68px;
    right:173px;
    /*top:0px;*/
    
}



}

@media(max-width:738px){
    .hero{
    display:flex;
    /*justify-content: space-between;*/
    gap:10px;
    
    padding-left: 50px;
    padding-right: 26px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 450px;
    /*overflow-x: hidden;*/
}
.hero .hero_leftpart {
    width:450px;
}
.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    /*display: none;*/
    margin-bottom: 40px;
}
    .hero .hero_rightpart{
    display: grid;
    grid-template-columns: repeat(1, 143.94px);
    column-gap: 27.42px;
    padding-right: 0px;
    flex:1;
    /*justify-content: end;*/
    
    position:relative;
    
    
    
}
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 30px;

}
.hero .hero_leftpart h2{
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 16px;
}
.hero .hero_leftpart .hero_leftpart_description{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px;
}
.hero .hero_rightpart  .img3 img{
    height:212.76px;
    width:143.94px;
    top:0px;
    border-radius: 0px 0px 100px 100px;
    display:none;
}
.hero .hero_rightpart  .img4 img{
    display:none;
    height:491.22px;
    width:143.94px;
   
    top:49.36px;
    right:0px;
    border-radius: 100px 0 0 100px;
    /*width: 365.8px;
    height: 507.26px;
    
    /*right:-27.42px;*/
    
}
.hero .hero_rightpart  .img6 img{
    height:504.92px;
    width:143.94px;
    top:273.18px;
    /*top: 0px;*/
    right:0.35px;
    display: none;
    
    
    
}
.hero .hero_rightpart  .img1 img{
    height:385.34px;
    width:143.94px;
    top:0px;
    border-radius: 0 0 100px 100px;
    
    
    height:418.34px;
}
.hero .hero_rightpart  .img2 img{
    height:491.22px;
    width:143.94px;
    top:95.08px;
    display:none;
}


.hero .hero_rightpart  .img5 img{
    height:302.73px;
    width:143.94px;
    top:445.68px;
    right:2px;
    display: none;
    /*top:0px;*/
    
}



}
@media(max-width:540px){
    .hero{
    display:flex;
    /*justify-content: space-between;*/
    gap:10px;
    
    padding-left: 50px;
    padding-right: 26px;
    /*width:100%;*/
    background-color: #FFE032;
    height: 450px;
    /*overflow-x: hidden;*/
}
.hero .hero_leftpart {
    width:450px;
}
.hero .hero_leftpart .hero_leftpart_description{
    width:370px;
}
.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    /*display: none;*/
    margin-bottom: 40px;
}
    
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 30px;

}
.hero .hero_leftpart h2{
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 16px;
}
.hero .hero_leftpart .hero_leftpart_description{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px;
}
.hero .hero_rightpart{
    
    display: none;


}
}
@media(max-width:430px){
    .hero{
    display:flex;
    /*justify-content: space-between;
    align-items: center;
    justify-content: center;*/
    gap:0px;
    
    
    padding-left: 40px;
    padding-right: 36px;
    padding-top: 70px;
    padding-bottom: 89px;

    /*width:100%;*/
    background-color: #FFE032;
    height: 420px;
    
    /*overflow-x: hidden;*/
}

.hero .hero_leftpart{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    /*align-items: center;*/
    /*padding:70px 36px 89px 40px;*/
    width:354px;

}
/*.hero .hero_leftpart .hero_leftpart_description br{
    font-weight: 400;
    font-size: 24px;
    /*display: none;
    margin-bottom: 40px;
}*/
    
.hero .hero_leftpart .hero_leftpart_text{
    font-weight: 400;
    font-size: 24px;

}
.hero .hero_leftpart h1{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 16px;
}
.hero .hero_leftpart .hero_leftpart_description{
    font-weight: 400;
    font-size: 16px;
    width:100%;
    max-width:350px;
    margin-bottom: 24px;
}
.hero .hero_rightpart{
    
    display: none;


}
}
